{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "parser": "typescript",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 4,
  "printWidth": 100
}
